.btn {
  display: flex;
  width: fit-content;
  padding: 16px 32px;
  background: #84e;
  color: #fafafa;
  border-radius: 10px;
  margin: 0 auto;
  text-decoration: none;
  transition: background 0.5s ease-in-out;
  &.red {
    background-color: #f55;
  }
}
